header {
    display: flex;
}

header div { 
    padding-right: 20px;
}

h1 {
    margin: 0;
}

li a {
    color: orange;
}

a:hover{
    color: green;
}

a:visited {
    color: black;
}


.large-font {
    font-size: 4rem;
}
.bold-font {
    font-weight: bold;
}
#title {
    font-style: italic;
    font-size: 3rem;
    color: orange;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}




